<div>
  <div class="chips">
    <ul class="chips__list">
      <li class="chips__item">
        <button class="chips__button checkout-user__toggle chips__button_active">I am a new customer</button>
      </li>
      <li class="chips__item">
        <button class="chips__button"> I am your client</button>
      </li>
    </ul>
  </div>
  <div class="form">
    <!------------------------>
    <div class="form__row">
      <div class="form__row form__row_type_flex">
        <app-text-input formControlName="firstName" [label]="'First name'" class="form__input_gr1"/>
        <app-text-input formControlName="lastName" [label]="'Last name'" class="form__input_gr1 form__input_ml_12"/>
      </div>
    </div>
    <!------------------------>
    <div class="form__row">
      <div class="form__row form__row_type_flex">
        <app-text-input formControlName="phone" [label]="'Email'" class="form__input_gr1" />
        <app-text-input formControlName="address" [label]="'Phone'" class="form__input_gr1 form__input_ml_12"/>
      </div>
    </div>
    <div class="form__row">
      <button type="button" class="button button_color_navy button_size_medium">
        Зберегти
      </button>
    </div>
  </div>
</div>


