/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "/node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "primeicons/primeicons.css";
/*@use '@angular/material';*/


.xng-breadcrumb {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}

/* styles.scss */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

body {
  min-width: 320px;
  background-color: #fff;
  color: #414141;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  /*font: 14px/1.25 'PP Object Sans',Arial,Helvetica,Sans-serif*/

}

button,input,select {
  font: 14px/1.25 'PP Object Sans',Arial,Helvetica,Sans-serif
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

ol,ul {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  color: #414141;
  -webkit-transition: color .15s,-webkit-text-decoration-color .15s;
  -o-transition: color .15s,text-decoration-color .15s;
  transition: color .15s,text-decoration-color .15s;
  transition: color .15s,text-decoration-color .15s,-webkit-text-decoration-color .15s;
  text-decoration: underline;
  text-underline-offset: .2em;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent
}

a:hover {
  color: #48d597;
  -webkit-text-decoration-color: #aaa;
  text-decoration-color: #aaa
}

html {
  height: 100%
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
