<div class="checkout-sidebar">
  <div class="checkout-promo">
    <div class="checkout-promo__header">
      <h4 class="checkout-promo__heading">
        Promocode
      </h4>
      <button class="button checkout-promo__header-button button_with-icon button_link">
        Add
      </button>
    </div>
    <div class="checkout-promo__form">
      <div class="form__row">
        <input class="form__input">
      </div>
      <div class="form__row mt-3">
        <button type="button" class="button button_size_medium button_color_navy checkout-promo__submit">
          Apply
        </button>
      </div>
    </div>
  </div>
  <div class="checkout-total">
    <h4 class="checkout-total__hading">Разом</h4>
    <dl class="checkout-total__row js-goods-info">
      <dt class="checkout-total__label">
        1 товар на суму
      </dt>
      <dd class="checkout-total__value">
        {{(basketTotal$ | async).subtotal}}
        <span class=" currency">$</span>
      </dd>
    </dl>
    <dl class="checkout-total__row mt-3">
      <dt class="checkout-total__label">
        Вартість доставки
      </dt>
      <dd class="checkout-total__value">
        {{(basketTotal$ | async).shipping}}
        <span class=" currency">$</span>
      </dd>
    </dl>
    <dl class="checkout-total__row checkout-total__row_type_bordered mt-3">
      <dt class="checkout-total__label">
        До сплати
        <span class=" currency">$</span>
      </dt>
      <dd class="checkout-total__value checkout-total__value_size_large">
        {{(basketTotal$ | async).total}}
        <span class=" currency">$</span>
      </dd>
    </dl>
    <div class="checkout-total__buttons">
      <input type="submit" tabindex="29" class="button button_color_green button_size_large checkout-total__submit" value="Make an order">
    </div>
    <p class="checkout-total__caption">
      Підтверджуючи замовлення, я приймаю умови:
    </p>
    <ul class="total-list">
      <li class="total-list__item"> положення про обробку і захист персональних даних
        <button type="button" class="button button_link">
                    <span class="button-info">
                      <svg width="2" height="9" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
                      </svg>
                    </span>
        </button>
      </li>
      <li class="total-list__item"> угоди користувача
        <button type="button" class="button button_link">
                    <span class="button-info">
                      <svg width="2" height="9" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
                      </svg>
                    </span>
        </button>
      </li>
    </ul>
  </div>
</div>
