// overrides

:host {
  & ::ng-deep {
    .p-rating .p-rating-icon {
      color: var(--mainColor);
      font-size: 14px;
    }

    .p-togglebutton.p-button {
      background-color: transparent;
      border-color: var(--mainColor);
      padding: 11px;
      margin-right: 12px;
    }
    .p-inputtext {
      padding-right: 28px;
    }
    .p-button.p-button-raised {
      color: black;
      background-color: #48d597;
    }

    .p-carousel-item {
      margin-left: 3px;
    }

    .p-tabview-panels {
      padding: 24px 0;
    }
  }
}

// Main styles

.input {
  position: relative;
  &__icon  {
    position: absolute;
    right: 220px;
    top: 12px;
    padding: 5px;
    border-radius: 4px;
    background-color: #48d597;
    cursor: pointer;

  }
}

.product {
  &__layout {
    max-width: 1216px;
    margin: 30px auto;
    position: relative;
    padding: 30px 20px 40px;

    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }
}

.product-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 42px;

  &__left {
    width: 710px;
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  &__right {
    position: sticky;
    top: 10rem;
    width: 550px;
  }
}

.product-details {
  &__description {
    line-hight: 25px;
    font-weight: 300;
  }
}

.product-slider {
  max-width: 620px;
}

.product-card {


  &__title {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__panel-article {
    margin-right: 12px;
  }

  &__rating {
    margin-right: 12px;
  }

  &__price {
    display: flex;
    margin-top: 3.4rem;
    &-value {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__sizes {
    margin-top: 3.4rem;
  }
}

.products-related {
  height: 510px;
  width: 1180px;
  margin: 30px auto;
  padding-top: 40px;
  //background-color: #eeeeee;

  &__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  &__content {
    margin-top: 40px;
  }
}

.item-related {
  /*display: flex;*/
  width: 220.5px;
  /*margin-right: 8px;*/
  /* border: dashed 1px; */
  /*padding: 12px;*/
  max-height: 350px;
  min-height: 350px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 6px;

  &__picture {

  }

  &__caption {
    padding: 8px 0;
  }

  &__price {

  }

  &__naming {

  }
}


.product-viewed {
  height: 200px;
  width: 1180px;
  margin: 30px auto;
  background-color: #eeeeee;
}

.newsletter {
  height: 200px;
  width: 1180px;
  margin: 30px auto;
  background-color: #eeeeee;
}

.button {
/*  height: 100%;
  width: 100%;*/
}

.product-sale {
  margin-top: 3.4rem;

  &__container {
    display: flex;
    align-items: center;
    /*margin-bottom: 24px;*/
  }

  &__buy-button {
    position: relative;
    margin-right: 24px;
    /*height: 50px;
    width: 280px;
    background-color: #48d597;
    border-radius: 8px;*/
  }

  &__inner {
    height: 100%;
    width: 100%;
  }

  &__favourites {
    font-size: 2rem;
    color: #48d597;
    cursor: pointer;
    &:hover {
      fill: #48d597;
    }
    &:active {
      fill: red;
      color: red;
    }
  }

  &__fast-purchase {

  }
}

.custom-star-icon {
  font-size: 16px; /* Размер звезды */
}

