<div class="product">
  <div class="product__layout">
    <div class="product-about">
      <div class="product-about__left">
        <div class="product-slider">
          <p-galleria
            [numVisible]="3"
            [value]="images"
            [showItemNavigators]="true"
            [showThumbnails]="false"

            [circular]="true"

          >

            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                [title]="item.title"
                style="width: 100%;"
              />
            </ng-template>


            <ng-template pTemplate="thumbnail" let-item width="50%">
              <div class="grid  grid-nogutter justify-content-center">
                <img
                  [src]="item.thumbnailImageSrc"
                  [alt]="item.alt"
                  [title]="item.title"
                  width=80%
                />
              </div>
            </ng-template>

          </p-galleria>
          <!--<img src="https://cdn.dressa.com.ua/ostrov-cache/sylius_extra_large/fd/plate-na-uzkih-bretelyah-s-cvetochnym-printom-beloe-59103-1683010716-1.jpg" style="width: 40%; display: block;" />-->
        </div>
      </div>
      <div class="product-about__right">
      <div class="product-card">
          <div class="product-card__description">
            <div class="product-card__header">
              <h1 class="product-card__title">
                {{product.name}}
              </h1>
            </div>
            <div class="product-card__panel">
              <div class="product-card__panel-article"> Article: 20296-87 </div>
              <div class="product-card__rating">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"/>
              </div>
              <div class="product-card__reviews">
                <a href="#" class="product-card__reviews-count"> 0 reviews </a>
              </div>
            </div>
            <div class="product-card__price">
              <div class="product-card__current-price">
                Price: {{product.price}}$
              </div>
              <div class="product-card__old-price">
                230 $
              </div>
            </div>
            <div class="product-card__color">
              <div class="product-card__color-title">
                Select color:
              </div>
              <div class="color-palette">
                <a href="" class="color-palette__link"></a>
              </div>
            </div>
            <div class="product-card__sizes">
                <div class="product-card__sizes-title">
                  Select your size:
                  <a (click)="sidebarVisible = true" class="product-card__sizes-link">table of sizes</a>
                  <p-sidebar [(visible)]="sidebarVisible" position="right">
                  </p-sidebar>
                </div>
              <div class="product-card__sizes-options">
                <label class="product-card__sizes-option">
                  <input type="radio" name="size" class="product-card__sizes-option-input" value="S">
                  <span class="product-card__sizes-option-box">S</span>
                </label>
                <label class="product-card__sizes-option">
                  <input type="radio" name="size" class="product-card__sizes-option-input"  value="X">
                  <span class="product-card__sizes-option-box">X</span>
                </label>
                <label class="product-card__sizes-option">
                  <input type="radio" name="size" class="product-card__sizes-option-input"  value="XS">
                  <span class="product-card__sizes-option-box">XS</span>
                </label>
              </div>
                <div></div>
              </div>
            </div>
            <div class="product-sale">
              <div class="product-sale__container">
              <div class="product-sale__buy-button">
                <app-button
                  (click)="addItemToWishList()"
                  buttonName="Add to basket"
                  buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
                  showIcon="true"
                  iconClass="pi pi-shopping-bag"
                />
              </div>
                <div class="product-sale__buy-button">
                  <app-button
                    (click)="addProductToBasket()"
                    buttonName="Fast purchase"
                    buttonStyle="btn btn_color_light btn_size_large"
                    showIcon="true"
                    iconClass="fa fa-light fa-phone"
                  />
                </div>
              </div>
              <i class="fa-sharp fa-light fa-bag-shopping"></i>
            </div>
            <div class="product-card__warehouse">
              <a class="product-card__warehouse-link">
                Availability in stores
              </a>
            </div>
      </div>
      </div>
    </div>
    <div class="product-details">
      <p-tabView>
        <p-tabPanel header="Description">
          <div class="product-details__description">
            A dress is a type of garment that is designed to be worn by women and girls. Dresses come in many different styles, lengths, colors, and materials, and they can be worn for a wide variety of occasions. From casual everyday wear to formal events, dresses are a versatile clothing item that can be dressed up or down depending on the occasion.
            Dresses can be made from a variety of materials, including cotton, silk, chiffon, lace, and more. They can be short or long, with sleeves or without, and can be designed to flatter different body types. Some popular styles of dresses include the A-line dress, shift dress, wrap dress, maxi dress, and cocktail dress.
            When choosing a dress, it's important to consider factors such as the occasion, the weather, and your personal style. Dresses can be accessorized with jewelry, shoes, belts, and other accessories to create a complete look that reflects your individual style and personality. Whether you prefer a classic little black dress or a bold and colorful statement piece, there is a dress out there for everyone.
          </div>
        </p-tabPanel>
        <p-tabPanel header="Details">
          <div class="props">
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
            </div>
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  Prada
                </div>

              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Delivery">
          <div class="delivery">
            <div class="delivery__internal">
              <div class="delivery__rows">
                <div class="delivery__row">
                  <div class="delivery__title">Delivery methods</div>
                  <div class="delivery__text">
                    <div class="delivery__icon">
                      <svg class="svg-icon -courier" viewBox="0 0 24 22" width="2.4rem" height="2.2rem"><use xlink:href="/local/templates/theme_2021/static/img/icons/sprite.svg#courier"></use></svg>
                    </div>
                  </div>
                  <div class="delivery__text">
                    <div class="delivery__icon">
                      <svg class="svg-icon -courier" viewBox="0 0 24 22" width="2.4rem" height="2.2rem"><use xlink:href="/local/templates/theme_2021/static/img/icons/sprite.svg#courier"></use></svg>
                    </div>
                  </div>
                </div>
                <div class="delivery__row">
                  <div class="delivery__title">Delivery methods</div>
                  <div class="delivery__text">
                    <div class="delivery__icon">
                      <svg class="svg-icon -courier" viewBox="0 0 24 22" width="2.4rem" height="2.2rem"><use xlink:href="/local/templates/theme_2021/static/img/icons/sprite.svg#courier"></use></svg>
                    </div>
                  </div>
                  <div class="delivery__text">
                    <div class="delivery__icon">
                      <svg class="svg-icon -courier" viewBox="0 0 24 22" width="2.4rem" height="2.2rem"><use xlink:href="/local/templates/theme_2021/static/img/icons/sprite.svg#courier"></use></svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <div class="product-details__reviews">
            <div class="product-details__reviews-title">
              Reviews
            </div>
            <div class="product-details__reviews-text">

            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <!--<div class="products-related">
      <h1 class="products-related__heading">
        Related products
      </h1>
      <div class="products-related__content">
        <div>
          <app-product-items-carousel [products]="products"/>
        </div>
      </div>
    </div>
    <div class="products-related">
      <h1 class="products-related__heading">
        Viewed products
      </h1>
      <div class="products-related__content">
        <div>
          <app-product-items-carousel [products]="products"/>
        </div>
      </div>
    </div>-->
    <app-related-products title="Related products" />

    <ng-container *ngIf="(history$ | async).seenProducts">
      <app-seen-items
        [history$]="history$"
        title="Seen products"
      />
    </ng-container>


  </div>
</div>

