<div class="product">
  <div class="product__layout">
    <div class="product-about">
      <div class="product-about__left">
        <div class="product-slider">
          <p-galleria
            [numVisible]="3"
            [value]="images"
            [showItemNavigators]="true"
            [showThumbnails]="false"

            [circular]="true"

          >

            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                [title]="item.title"
                style="width: 100%;"
              />
            </ng-template>


            <ng-template pTemplate="thumbnail" let-item width="50%">
              <div class="grid  grid-nogutter justify-content-center">
                <img
                  [src]="item.thumbnailImageSrc"
                  [alt]="item.alt"
                  [title]="item.title"
                  width=80%
                />
              </div>
            </ng-template>

          </p-galleria>
          <!--<img src="https://cdn.dressa.com.ua/ostrov-cache/sylius_extra_large/fd/plate-na-uzkih-bretelyah-s-cvetochnym-printom-beloe-59103-1683010716-1.jpg" style="width: 40%; display: block;" />-->
        </div>
      </div>
      <div class="product-about__right">
      <div class="product-card">
          <div class="product-card__header">
            <h1 class="product-card__title">
              {{product.name}}
            </h1>
            <div class="product-card__panel">
              <div class="product-card__panel-article"> Article: 20296-87 </div>
              <div class="product-card__rating">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"/>
              </div>
            </div>
          </div>
          <div class="product-card__price">
            <div class="product-card__price-value">
              Price: {{product.price}}$
            </div>
          </div>
          <div class="product-card__sizes">
            <div id="bodyfit-button"></div>

            <div class="product-info__offers-sizes">
              <div class="sizes">
                <div class="sizes__title">
                  Select your size
                </div>
                <div>
                  <a (click)="sidebarVisible = true">table of sizes</a>
                  <p-sidebar [(visible)]="sidebarVisible" position="right">
                  </p-sidebar>
                </div>
                <div></div>
              </div>
              <div>
                <p-toggleButton onIcon="pi pi-tag" offIcon="pi pi-tag" onLabel="44" offLabel="44"/>
                <p-toggleButton onIcon="pi pi-tag" offIcon="pi pi-tag" onLabel="46" offLabel="46"/>
                <p-toggleButton onIcon="pi pi-tag" offIcon="pi pi-tag" onLabel="48" offLabel="48"/>
                <p-toggleButton onIcon="pi pi-tag" offIcon="pi pi-tag" onLabel="50" offLabel="50"/>
              </div>
            </div>
          </div>
          <div class="product-sale">
            <div class="product-sale__container">
            <div class="product-sale__buy-button">
              <app-button buttonName="Add to basket" buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"/>
            </div>
              <div class="product-sale__buy-button">
                <app-button buttonName="Fast purchase" buttonStyle="btn btn_color_light btn_size_large"/>
              </div>
            </div>
          </div>
          <div class="callback"> </div>
      </div>
      </div>
    </div>
    <div class="product-details">
      <p-tabView>
        <p-tabPanel header="Details">
          <div class="product-details__description">
            A dress is a type of garment that is designed to be worn by women and girls. Dresses come in many different styles, lengths, colors, and materials, and they can be worn for a wide variety of occasions. From casual everyday wear to formal events, dresses are a versatile clothing item that can be dressed up or down depending on the occasion.
            Dresses can be made from a variety of materials, including cotton, silk, chiffon, lace, and more. They can be short or long, with sleeves or without, and can be designed to flatter different body types. Some popular styles of dresses include the A-line dress, shift dress, wrap dress, maxi dress, and cocktail dress.
            When choosing a dress, it's important to consider factors such as the occasion, the weather, and your personal style. Dresses can be accessorized with jewelry, shoes, belts, and other accessories to create a complete look that reflects your individual style and personality. Whether you prefer a classic little black dress or a bold and colorful statement piece, there is a dress out there for everyone.
          </div>
        </p-tabPanel>
        <p-tabPanel header="Delivery">
          <div class="product-details__delivery">
            <div class="product-details__delivery-title">
              Delivery
            </div>
            <div class="product-details__delivery-text">
              text
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <div class="product-details__reviews">
            <div class="product-details__reviews-title">
              Reviews
            </div>
            <div class="product-details__reviews-text">

            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="products-related">
      <h1 class="products-related__heading">
        Related products
      </h1>
      <div class="products-related__content">
        <div >
          <p-carousel [value]="products" [numVisible]="4" [numScroll]="1" [circular]="true"  showIndicators="true">
            <ng-template let-product pTemplate="item">
              <div class="item-related">
                <div class="item-related__picture">
                  <img src="https://cdn.dressa.com.ua/ostrov-cache/sylius_extra_large/fd/plate-na-uzkih-bretelyah-s-cvetochnym-printom-beloe-59103-1683010716-1.jpg" style="width: 100%; display: block;" />
                </div>
                <div class="item-related__caption">
                  <a class="item-related__naming">{{ product.name }}</a>
                  <h6 class="item-related__price">{{ product.price + '$' }}</h6>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div class="product-viewed">
      Product viewed block
    </div>
    <div class="newsletter">
      Newsletter block
    </div>
  </div>
</div>

