<div class="main-cart-container">
  <h4 class="cart-name"> Cart </h4>
  <div class="items-container">
    <div class="single-item">
      <h5 class="seller-name"> Seller: kalinin007 </h5>
      <app-basket-summary
        (decrement) = "decrementItemQuantity($event)"
        (increment) = "incrementItemQuantity($event)"
        (remove) = "removeBasketItem($event)"
      ></app-basket-summary>
      <a routerLink="/checkout" class="checkout-button">
        <button class="order-item-button">
          Checkout order {{(basketTotal$ | async).total}} $
        </button>
      </a>
    </div>
  </div>
  <div class="continue-shopping-wrapper">
    <a href="" class="continue-shopping-button">
      <i class="pi pi-times"></i>
    </a>
  </div>
</div>
