<div class="catalog-item">
  <div class="catalog-item__layout">
    <div class="catalog-item__image">
      <a routerLink="/shop/{{categoryName}}/{{product.id}}">
        <img routerLink="/shop/{{product.id}}"
             src="{{productImages[imageIndex]?.url}}"
             alt="{{product.name}}"
             class="catalog-item__pic"
             (mouseenter)="setImageIndex(1)"
             (mouseleave)="setImageIndex(0)"
        >
      </a>
      <div class="catalog-item__like" >
        <i *ngIf="isFavoritesIconVisible; else notVisible"  (click)="addItemToWishlist()" class="pi pi-heart catalog-item__like-icon"></i>
        <ng-template #notVisible>
          <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
        </ng-template>
      </div>
      <div class="catalog-item__labels">
        <ng-container *ngIf="product.isNew">
          <div class="item-label item-label_blue"> New</div>
        </ng-container>
        <ng-container *ngIf="product.isBestSeller">
          <div class="item-label item-label_orange"> Bestseller</div>
        </ng-container>
        <ng-container *ngIf="product.oldPrice !== null && product.oldPrice > 0">
          <div class="item-label item-label_red"> -{{ product.oldPrice | discount: product.price }} </div>
        </ng-container>
      </div>
    </div>
    <div class="catalog-item__caption">
      <a class="catalog-item__name"
         routerLink="/shop/{{categoryName}}/{{product.id}}"
      >
        {{product.name | shorten: 35}}
      </a>
      <div class="detail-palette">
        <div class="detail-palette__links">
          <ng-container *ngIf="productColors && productColors.length > 0">
            <span class="detail-palette__link" *ngFor="let color of productColors" [ngStyle]="{ 'background': color.colorCode }"></span>
          </ng-container>
        </div>
      </div>
      <div class="catalog-item__price">
        <ng-container *ngIf="product.oldPrice !== null && product.oldPrice > 0; else price">
          <div class="catalog-item__new-price">{{product.price}} $</div>
          <div class="catalog-item__old-price">{{product.oldPrice}} $</div>
        </ng-container>
        <ng-template #price>
          <div class="catalog-item__new-price">{{product.price}} $</div>
        </ng-template>
      </div>
      <div class="catalog-item__sizes-btn">
        <div class="catalog-item__sizes">
        </div>
        <div class="catalog-item__button">
          <app-button
            (click)="addItemToBasket()"
            showIcon="true"
            iconClass="pi pi-shopping-bag"
            buttonName="Add to basket"
            buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
          />
        </div>
      </div>
    </div>
  </div>
</div>
