<div class="delivery-form">
  <div class="delivery-form__title">Choose your way of delivery </div>
  <div class="delivery-form__body">
    <div class="delivery-form__tabs">
      <mat-radio-group aria-label="Select an option" class="example-radio-group" >
        <mat-radio-button value="1" >Self-delivery</mat-radio-button>
        <mat-radio-button value="2" (click)="isPostalDeliverySelected = true">Postal service</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <div class="delivery-from__labels">
        <div class="search-select">
          <div class="label">
            <div class="label__title">
              Choose your city
            </div>
            <div class="label__body">
              <p-accordion [multiple]="true" [activeIndex]="[0]">
                <p-accordionTab header="City">
                  <p-dropdown formControlName="city" [options]="cities" optionLabel="name"></p-dropdown>
                </p-accordionTab>
                <p-accordionTab header="Service">
                  <p-dropdown formControlName="city" [options]="cities" optionLabel="name"></p-dropdown>
                </p-accordionTab>
                <p-accordionTab header="Address">
                  <p-dropdown formControlName="city" [options]="cities" optionLabel="name"></p-dropdown>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
