.card .image-container {
  position: relative;
  overflow: hidden;
}

.card .image-container img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
  object-position: center;
}

.card .image-hover:hover img {
  transform: scale(1.05);
}

.card:hover .btn {
  opacity: 1;
}

.card .btn {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-top: 10px;
}

.catalog-item {
  width: 270px;
  height: 480px;
  box-shadow: 0 2rem 4rem rgba(97,97,97,.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 2rem 4rem rgba(97,97,97,.2);
  }

  &__layout {
    position: relative;
    padding: 10px;

  }
  &__image {
    position: relative;
    min-height: 376px;
    overflow: hidden;

  }

  &__pic {
    max-width: 276px;
    max-height: 414px;
  }

  &__caption {

  }

  &__price {
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
  }

  &__new-price {
    font-weight: bold;
    font-size: 16px;
  }
}




