<div class="card h-100 shadow-sm card-highlight">
  <img routerLink="/shop/{{product.id}}"   src="{{product.pictureUrl}}" alt="{{product.name}}" class="bg-light">
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <span class="mb-2">{{product.price | currency}}</span>

      <div class="btn-group mt-auto">
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa fa-shopping-cart fa-1x mr-5 text-dark ms-2"></i>
        </button>
        <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-outline-secondary">View</button>
      </div>
  </div>
</div>

