<div class="card h-100 shadow-sm card-highlight position-relative">
  <div class="image-container">
    <a routerLink="/shop/{{product.id}}">
      <img routerLink="/shop/{{product.id}}"
           src="{{product.pictureUrl}}"
           alt="{{product.name}}"
           class="bg-light image-hover"
      >
    </a>
  </div>
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <span class="mb-2">{{product.price | currency}}</span>
  </div>
  <div class="position-absolute top-0 end-0" style="margin-right: 10px;">
    <div class="d-flex align-items-center justify-content-center rounded-circle btn btn-warning" style="width: 40px; height: 40px;">
      <i class="fa fa-heart fa-1.5x text-dark "></i>
    </div>
  </div>
</div>





